main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center; }
  main .banner-principal {
    background-image: url("../imagenes/imagen2.jpg");
    background-color: black;
    height: 250px;
    width: 100%; }

@media screen and (max-width: 320px) {
  .banner-principal {
    background-image: none;
    background-color: black; }
  .logo {
    margin: auto; }
  ul {
    color: white !important;
    background-color: #b68b2e !important;
    width: 100%;
    margin-left: 45%; }
  li a {
    width: 300px;
    color: black;
    text-decoration: none;
    margin-left: auto; }
  main {
    margin-top: 3%; } }

.grid-container {
  -ms-grid-column-align: center; }
  .grid-container #headerLinks {
    float: center;
    width: 100%;
    min-height: 100px;
    background-color: white; }

/*ESTILOS LISTA MENU*/
ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  ul li {
    float: left; }
  ul li a {
    display: block;
    color: black;
    align-content: center;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin-left: 50px; }
  ul li a:hover {
    background-color: black;
    color: white; }

/*TEMINAN ESTILOS LISTA MENU*/
footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*ICONOS REDES SOCIALES - SEGUINOS*/ }
  footer .red-social {
    text-align: right;
    color: white;
    font-size: 1px;
    height: 100px; }

/* ESTILOS DEL BOTON MENU*/
.button-container {
  display: inline-block;
  position: relative;
  /* PADDDING EN BOTON MENU*/
  padding: 2% 3%;
  /* AGREGO MARGIN EN BOTON MENU - consultar margin auto*/
  margin: auto;
  grid-column: auto; }
  .button-container .button-container a {
    position: absolute;
    align-items: center;
    bottom: 50%;
    right: 50%;
    background-color: white;
    border-radius: 1.5em;
    color: black;
    text-transform: uppercase;
    text-decoration: none; }

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid-conteiner2 {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 2fr);
  gap: 10px; }
  .grid-conteiner2 .burger1 {
    border-color: aliceblue; }
  .grid-conteiner2 .burger2 {
    border-color: aliceblue; }
  .grid-conteiner2 .burger3 {
    border-color: aliceblue; }
